/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page-size {
  margin: 0 auto;
  inline-size: var(--page-size);
}

.page {
  padding: 100px 0;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size, 18px);
  background-image: var(--body-pattern);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 100px;
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0
    clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  background-color: var(--bg-main-color);
}

.header__logo {
  margin-block-end: 20px;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--header-logo, 1.5vw);
  text-align: center;
  text-decoration: none;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--header-heading, 0.8vw);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card__image-container {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card {
  border: 2px solid #000;
  background-color: var(--bg-main-color);
}

.card__title {
  padding: 3px 10px;
  font-size: inherit;
  font-variation-settings: "wght" var(--accent-font-weight, 700);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 696px;
  margin-inline: auto;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--accent-font-size, 14px);
  text-shadow: -1px 0 var(--accent-font-stroke), 0 1px var(--accent-font-stroke),
    1px 0 var(--accent-font-stroke), 0 -1px var(--accent-font-stroke);
  mix-blend-mode: hard-light;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__description-text {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight, 400);
  line-height: 117%;
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-grayscale {
  filter: grayscale(0.5);
}

.filter-blur {
  filter: blur(0.15rem);
}

.filter-contrast {
  filter: contrast(20%);
}

.filter-invert {
  filter: invert(0.9);
}

.filter-multiple {
  filter: sepia(1) contrast(2) brightness(200%);
}

.card__icon-button {
  align-self: center;
  border: transparent;
  padding: 0;
  outline: 2px solid transparent;
  background: none;
  transition: outline 0.3s ease;
  cursor: pointer;
  inline-size: 39px;
  block-size: 34px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.sparks {
  opacity: 0;
}

.core {
  fill: var(--bg-main-color);
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  fill: var(--bg-main-color);
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
  transition-delay: 0s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  fill: var(--animation-fill-color);
  transform-origin: 50% 50%;
  animation: scale 0.3s ease-in 1 normal;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  transform-origin: 50% 50%;
  animation: opacity 0.3s ease-in 1 normal;
  animation-delay: 0.3s;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 10px 17px;
  overflow: hidden;
  color: var(--font-button-color);
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size);
  background-color: var(--bg-main-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scale(1);
}

.button__save-icon {
  position: relative;
  z-index: 1;
  block-size: 1.5em;
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}

.card__controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 7px;
  padding: 0 25px 25px;
}

.button__type-save {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 50px auto 0;
  padding: 15px 20px;
}

.button__text {
  position: relative;
  z-index: 1;
  line-height: 90%;
  mix-blend-mode: difference;
}

.popup {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  padding: 30px;
  width: 100%;
  max-width: 353px;
}

.popup-text {
  line-height: 150%;
  text-transform: uppercase;
}

.popup__decription {
  justify-content: center;
  align-items: center;
  margin-block-end: 30px;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size);
}

.popup-icon {
  width: 5.6em;
  margin-inline-end: 20px;
}

.popup[open] {
  display: flex;
}

.popup[open] .popup__decription {
  display: flex;
}

dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.popup-button {
  text-transform: uppercase;
  inline-size: 100%;
}

.popup__form {
  inline-size: 100%;
}

@media (width <=375px) {
  .card__image-label {
    right: 13px;
  }

  .card__title {
    padding: 5px 10px;
  }

  .button__type-save {
    flex-direction: column;
  }

  .button__save-icon {
    block-size: 2em;
  }

  .popup {
    padding: 30px 42px;
  }

  .popup-icon {
    margin-inline-end: 12px;
  }
}

@supports (
  (text-stroke: 1px var(--accent-font-stroke)) or
    (-webkit-text-stroke: 1px var(--accent-font-stroke))
) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--accent-font-stroke);
    text-stroke: 1px var(--accent-font-stroke);
  }
}
