:root {
  --main-font: Inter-Variable, sans-serif;
  --main-font-weight: 400;
  --main-font-size: 18px;
  --accent-font: PressStart2P, fantasy;
  --accent-font-weight: 700;
  --header-logo: clamp(3.0625rem, 1.9348rem + 4.8632vw, 4.0625rem);
  --header-heading: clamp(0.875rem, 0.2407rem + 2.7356vw, 1.4375rem);
  --body-pattern: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
  --accent-font-size: 14px;
  --bg-main-color: #fff;
  --accent-font-stroke: #fff;
  --accent-color: #000;
  --font-button-color: #fff;
  --contour-color: #000;
  --animation-fill-color: red;
  --page-size: clamp(375px, 100%, 700px);
}
